@charset "UTF-8";


/* BODY
---------------------------------------------*/
html {
	margin: 0;
	padding: 0;
}
body {
	margin: 0;
	color: #444;
	background: #FFF;
	font-family: Meiryo, 'メイリオ', 'Lucida Grande', Verdana, 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'ＭＳ Ｐゴシック', sans-serif;
	font-size: 30px;
	line-height: 1.3em;
}

/* sp */
@media screen and (max-width: 480px) {
body {
	font-size: 15px;
}
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-weight: normal;
	font-size: 100%;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #CCC;
	margin: 1em 0;
	padding: 0;
}
ul {
	list-style: none;
	padding: 0;
}
li {
	padding: 0;
	list-style: none;
}
input, select {
	vertical-align: middle;
}
a {
	-webkit-tap-highlight-color: transparent;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
	font-variant: normal;
}
sup, sub {
	vertical-align: baseline;
}
/* legend {
	color: #000;
} */
input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
input, button, textarea, select {
 *font-size: 100%;
}
address {
	font-style: normal;
}
input[type*="button"] {
	cursor: pointer;
}
img {
	border: none;
	vertical-align: bottom;
	max-width: 100%;
	height: auto;
}
img.responsive {
	width: 100%;
	height: auto;
}
.center {
	text-align: center;
}
.bold {
	font-weight: bold;
}
.right {
	text-align: right;
}
/* 全体 共通設定
--------------------------------------------------------*/
html {
	-webkit-text-size-adjust: 100%;
}
div {
	margin: 0 auto;
}
a {
	color: #FF3F00;
}
.btns2 ul {
	margin: 0 -0.3em;
}
.btns2 li {
	float: left;
	width: 50%;
	padding: 0 0 0.6em;
}
.btns2 li a {
	display: block;
	margin: 0 0.3em;
}
.btns2 li:nth-child(2n+1) {
	clear: both;
}
.btns3 ul {
	margin: 0 -0.15em;
}
.btns3 li {
	float: left;
	width: 33.33%;
	padding: 0 0 0.3em;
}
.btns3 li a, .btns3 li span {
	display: block;
	margin: 0 0.15em;
}
.btns3 li:nth-child(3n+1) {
	clear: both;
}
.btns4 ul {
	margin: 0 -0.15em;
}
.btns4 li {
	float: left;
	width: 25%;
	padding: 0 0 0.3em;
}
.btns4 li a {
	display: block;
	margin: 0 0.15em;
}
.btns4 li:nth-child(4n+1) {
	clear: both;
}
/* レイアウト
-------------------------- */
#viewport {
	margin: 0 auto;
}
#main, .main {
}
/* Header
---------------------------------------------*/
header {
	position: relative;
	z-index: 2;
}
.pink {
	color: #FF7A4D;
}
.orange {
	color: #FF9226;
}
.f42 {
	font-size: 140%;
}
.f76 {
	font-size: 260%;
}
#header .slide {
    width: 96%;
    margin: -4em auto 0;
}
#header .slide > div {
	position: relative;
	background: #FFA64D;
	padding: .33em .33em .33em 21%;
}
#header .slide h2 {
	z-index: 50;
	line-height: 1;
	padding: 0;
	margin: 0;
	background: none;
	font-size: 100%;
	text-align: left;
	position: absolute;
	width: 26.5%;
	height: auto;
	top: 0;
	left: 0;
}
/* Footer
---------------------------------------------*/
footer {
	padding: 0 0 1em;
}
footer .name {
	padding: 2.5em 2.5% 0;
	color: #444;
	font-size: 66.7%;
	text-align: center;
	line-height: 1.3em;
}
footer .address {
	color: #444;
	font-size: 66.7%;
	text-align: center;
	line-height: 1.3em;
}
footer .copyright {
	padding: 1em 0 0;
	color: #666;
	font-size: 66.7%;
	text-align: center;
	line-height: 1.3em;/* background: #9BD020; */
}
/* Main Contents
---------------------------------------------*/
h2 {
	position: relative;
	clear: both;
	line-height: 1.3em;
	padding: .8em .9em .7em;
	margin: 0 0 .8em;
	background-color: #FF9326;
	color: #fff;
	font-size: 130%;
	font-weight: bold;
	box-sizing: border-box;
	text-align: center;
}
h2 a {
	color: inherit;
	text-decoration: none !important;
	display: block;
}
h2 a:link, h2 a:visited, h2 a:hover {
	color: inherit;
	text-decoration: none !important;
	display: block;
}
/* opener */
.opener > h2, .opener > h3 {
	padding: 0;
	position: relative;
}
.opener > h2:before, .opener > h3:before {
	position: absolute;
	top: .2em;
	bottom: .2em;
	right: .75em;
	z-index: 1;
	display: block;
	width: 3em;
	height: auto;
	overflow: hidden;
	content: '';
	background: url(images/icon_open.png) center center no-repeat;
	background-size: contain;
}
.opener.open > h2:before, .opener.open > h3:before {
	background-image: url(images/icon_close.png) !important;
}
.opener.close > h2:before, .opener.close > h3:before {
	background-image: url(images/icon_open.png) !important;
}
.opener > h2 a, .opener > h3 a {
	padding: 1em 4em .9em .9em;
	position: relative;
	z-index: 2;
}
h3 {
	/* background: #8C6700; */
	font-size: 95%;
	font-weight: bold;
	line-height: 1.3em;
	color: #444;
	padding: .6em 0 .5em .3em;
	margin: 0 0 .8em;
	position: relative;
	clear: both;
	border-top: solid .29em #FFA64D;
	border-bottom: solid .1em #FFA64D;
	background-color: #fff;
}
h3 a {
	color: inherit;
	text-decoration: none !important;
	display: block;
}
h3 a:link, h3 a:visited, h3 a:hover {
	color: inherit;
	text-decoration: none !important;
	display: block;
}
h4 {
}
h4 a {
	color: inherit;
	text-decoration: none !important;
	display: block;
}
h4 a:link, h4 a:visited, h4 a:hover {
	color: inherit;
	text-decoration: none !important;
	display: block;
}
h5 {
}
h5 a {
	color: inherit;
	text-decoration: none !important;
	display: block;
}
h5 a:link, h5 a:visited, h5 a:hover {
	color: inherit;
	text-decoration: none !important;
	display: block;
}
h6 {
}
h6 a {
	color: inherit;
	text-decoration: none !important;
	display: block;
}
h6 a:link, h6 a:visited, h6 a:hover {
	color: inherit;
	text-decoration: none !important;
	display: block;
}
p {
	margin: 0 0 1em;
}
.posts {
	text-align: left;
	background: #fff;
	margin: 0 2.5%;
}
.posts p {
	margin: .4em 0 1em;
}
.posts h2, .posts h3, .posts h4, .posts h5, .posts h6 {
	margin-bottom: 1em;
	clear: both;
}
.mlr {
	margin-left: 2.5% !important;
	margin-right: 2.5% !important;
}
/* Top Page
---------------------------------------------*/
/* Main Image
---------------------------------------------*/
.section {
}
.section .inner {
}
.section1 {
	margin: .8em 0 0;
}
.section1 h2 {
	margin: 0 auto .5em;
	width: 96%;
}
.section1 .inner {
	background: url(images/section1_bg.jpg) no-repeat left top;
	background-size: 100% auto;
}
.section1 .inner .box {
	margin: 0 auto;
	width: 96%;
}
.section1 .inner .box ul {
}
.section1 .inner .box ul li {
	background: #fff;
	border: solid .15em #ccc;
	border-radius: .4em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: .7em;
	font-size: 80%;
	font-weight: bold;
	margin: 0 0 .65em;
	line-height: 1.25em;
	width: 67.5%;
	float: right;
	clear: both;
}
.section1 .inner .box ul li:last-child {
	margin: 0;
}
.section1 .inner .box ul li strong {
	color: #D83400;
}
.section1 .inner .box ul li:nth-child(8n) {
	width: 100%;
}
.section1 .inner .box ul li:nth-child(9n) {
	width: 100%;
}
.section1 .inner .box ul li:nth-child(10n) {
	width: 100%;
}
.section1 .inner .box ul li:nth-child(11n) {
	width: 100%;
}
.section1 .inner .box ul li:nth-child(12n) {
	width: 100%;
}
.section2 {
	margin: .7em 0 0;
}
.section2 h2 {
	margin: 0 auto .7em;
	width: 96%;
}
.section2 h3 {
	margin: 0 0 .4em;
}
.section2 .inner {
	background: url(images/section2_bg.jpg) no-repeat right top;
	background-size: 100% auto;
}
.section2 .inner .box {
	margin: 0 auto;
	width: 96%;
}
.section2 .inner .box ul {
	width: 100%;
}
.section2 .inner .box ul li {
	width: 100%;
	float: left;
	clear: both;
	background: #fff;
}
.section2 .inner .box ul li:first-child {
	width: 59%;
}
.section2 p {
	font-size: 90%;
}
.section2 strong {
	color: #FF3F00;
	font-weight: normal;
}
.section3 {
	width: 96%;
	margin: 0 auto;
}
.section3 h2 {
	margin: 0;
}
.section3 .inner .box .content {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	border-bottom: solid 2px #ccc;
	padding: .8em 0;
	margin: 0 0 0;
	clear: both;
	overflow: hidden;
}
.section3 .inner .box .content:last-child {
	border: none;
}
.section3 .inner .box .content .img {
	float: left;
	width: 40%;
}
.section3 .inner .box .content .img img {
	width: 100%;
	height: auto;
}
.section3 .inner .box .content .text {
	float: right;
	width: 58%;
}
.section3 .inner .box .content h3 {
	color: #FF8000;
	padding: 0 0 0;
	margin: 0 0 .3em;
	border: none;
	font-size: 100%;
}
.section3 p {
	font-size: 90%;
	margin: 0;
}
.section3 strong {
	color: #FF3F00;
	font-weight: normal;
}
.section4 {
	margin: 1em 0 0;
}
.section4 h2 {
	width: 96%;
	margin: 0 auto .4em;
}
.section4 h3.img {
	margin: 0 0 -.8em;
	padding: 0;
	border: none;
}
.section4 .box {
	width: 96%;
	margin: 0 auto;
}
.section4 .inner .box h3 {
	font-size: 100%;
	font-weight: bold;
	color: #fff;
	background: #FFA64D;
	border-radius: 1em;
	padding: .4em .5em;
	text-align: center;
	line-height: 1.3em;
	border: none;
	margin: 0 0 .5em;
}
.section4 p {
	font-size: 90%;
}
.section4 strong {
	color: #FF3F00;
	font-weight: normal;
}
.section5 {
	width: 96%;
	margin: 0 auto;
}
.section5 h2 {
}
.section5 h3 {
	margin: 0 0 .4em;
}
.section5 p {
	font-size: 90%;
}
.section5 strong {
	color: #FF3F00;
	font-weight: normal;
}
.section5 .btn {
	position: relative;
}
.section5 .btn a, .section5 .btn span {
	display: block;
	text-decoration: none !important;
}
.section5 .btn .text {
	position: absolute;
	top: 77%;
	left: 53%;
	right: 0%;
	text-decoration: none !important;
	color: #fff;
	font-weight: bold;
	font-size: 69%;
	text-align: left;
}
.section6 {
	width: 96%;
	margin: .7em auto 0;
}
.section6 h2 {
}
.section6 table {
	position: relative;
	margin: .8em 0 0;
	padding: .5em .7em 0;
	border: 1px solid #FFC926;
	background: #FFFDD1;
	width: 100%;
}
.section6 h3 {
	color: #FF8000;
	padding: 0 0 0;
	margin: 0 0 .8em;
	border: none;
	font-size: 100%;
	background: #FFFDD1;
}
.section6 p {
	font-size: 80%;
	line-height: 1.3em;
	padding: 0 0 0 1.2em;
	margin: 0 0 .9em;
}
.section7 {
	width: 96%;
	margin: .7em auto 0;
}
.section7 h3 {
	margin-top: .8em;
}
.section7 table {
	position: relative;
	margin: .8em 0 0;
	padding: .5em .7em .6em;
	border: 1px solid #FFC926;
	background: #FFFDD1;
	width: 100%;
}
.section7 table th {
	vertical-align: top;
	width: 13%;
	color: #FF7F00;
	font-size: 260%;
	text-align: left;
	line-height: 1.3em;
}
.section7 td {
	font-size: 80%;
	line-height: 1.3em;
}
.section8 {
	width: 96%;
	margin: .7em auto 0;
}
.section8 h2 {
	margin: 0 0 .7em;
}
.section_form {
	width: 96%;
	margin: 1em auto 0;
}
.section_form h2 {
	margin: 0 0 .7em;
}
.section_form .bg_inner {
	padding: .8em;
	background: #FFF;
	border: solid .15em #FFCC99;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.section_form dl {
	display: table;
	width: 100%;
}
.section_form dl:last-child {
}
.section_form dl:last-child .textarea {
}
.section_form dt {
	position: relative;
	display: block;
	padding: .1em 0 .1em .4em;
	width: 100%;
	color: #777;
	font-size: 100%;
	/* vertical-align: middle; */
	line-height: 1.3;
	border-left: solid .35em #FFA64D;
	margin: 0 0 .7em;
}
.section_form dt .must {
	display: inline-block;
	font-size: 80%;
	color: #FFF;
	background: #FFA64D;
	text-align: center;
	font-weight: normal;
	padding: .2em .5em;
	margin: 0 0 0 1em;
}
.section_form dd {
	display: block;
	width: 100%;
	vertical-align: middle;
	margin: 0 0 .7em;
}
.section_form .input_txt input[type="text"] ,
.section_form .input_txt select {
	width: 100%;
	padding: .4em;
	border: 2px solid #CCC;
	border-radius: .2em;
	background: #FFF;
	font-size: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.section_form .input_textarea textarea, .section_form .input_textarea .textarea {
	width: 100%;
	padding: .4em;
	border: 2px solid #CCC;
	border-radius: .2em;
	background: #FFF;
	font-size: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.section_form .input_textarea .textarea {
	color: #666;
	overflow-y: auto;
	line-height: 1.3;
}
.section_form .txt {
	font-size: 105%;
	padding: 1em 0;
	text-align: center;
}
.section_form ul {
	text-align: center;
}
.section_form li {
	display: inline-block;
	z-index: 9;
	margin: 0 .5em 0;
}
.section_form li label {
	position: relative;
	display: block;
	z-index: 9;
}
.section_form li input[type="radio"] {
	display: inline-block;
	position: relative;
}
.section_form li input[type="radio"]:checked + span {
	color: #8a8a8a;
}
.section_form li input[type="radio"]:checked + span:before {
	border-color: #bfbfbf;
	background: #e4e4e4 !important;
}
.section_form li span {
	display: inline-block;
	position: relative;
}
.section_form li span:before {
	position: absolute;
	display: block;
	content: "";
	background: #f7f7f7;
	border: 1px solid #CCC;
	top: -10px;
	left: -25px;
	bottom: -10px;
	right: -10px;
	z-index: -1;
	border-radius: 5px;
}
.section_form .btn {
	width: 100%;
	padding-top: 1.2em;
	margin: 0 auto;
	text-align: center;
}
input[type="submit"] {
	background: #FF9326;
	border: none;
	width: 65%;
	text-align: center;
	border-radius: .2em !important;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	font-size: 120%;
	padding: .5em;
}
::-webkit-input-placeholder {
 color: #ccc;
}
/* iOSでのデフォルトスタイルをリセット */
.section_form input[type="submit"], .section_form input[type="button"] {
	border-radius: 0;
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	appearance: button;
	border: none;
	box-sizing: border-box;
	cursor: pointer;
}
.section_form input[type="submit"]::-webkit-search-decoration, .section_form input[type="button"]::-webkit-search-decoration {
 display: none;
}
.section_form input[type="submit"]::focus, .section_form input[type="button"]::focus {
 outline-offset: -2px;
}
.section9 {
	width: 96%;
	margin: .9em auto 1em;
}
.section9 .table {
	width: 100%;
	border: 1px solid #bbb;
	border-bottom: none;
	background: #FFF;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 80%;
	line-height: 1.3em;
}
.section9 .table th, .section9 .table td {
	border-bottom: 1px solid #bbb;
	vertical-align: top;
}
.section9 .table th {
	width: 28%;
	padding: .7em;
	background: #eee;
	color: #444;
	font-weight: normal;
	text-align: left;
}
.section9 .table td {
	padding: .7em;
	color: #444;
}
/*  パンくず
--------------------------------------------------------*/
.breadcrumb {
	text-align: left;
	padding: 0.2em 0;
}
.breadcrumb a {
	display: inline;
	padding: 0 5px;
	/*  color: #F00;*/
	text-decoration: none !important;
}

/* sp */
@media screen and (max-width: 480px) {
.breadcrumb a {
	padding: 0 2px;
}
}
/*  テーブル
--------------------------------------------------------*/
table, td, th, tr {
	font-size: inherit;
	font: 100%;
}
table.mainstyle {
	margin: 15px 10px 24px;
	border: 1px #b9b9b9 solid;
	border-collapse: collapse;
	border-spacing: 0;
}
table.mainstyle th {
	font-weight: bold;
	padding: 10px;
	border: 1px #b9b9b9 solid;
	background: #FFFFCC;
}
table.mainstyle td {
	padding: 10px;
	border: 1px #b9b9b9 solid;
	background: #fff;
}

/* sp */
@media screen and (max-width: 480px) {
table.mainstyle {
	margin: 7.5px 5px 12px;
}
table.mainstyle th, table.mainstyle td {
	padding: 5px;
}
}
/* clearfix 設定
-------------------------- */
.cl:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.cl {
	min-height: 1px;
	clear: both;
}
* html .cl {
	height: 1px;/*\*//*/
	height: auto;
	overflow: hidden;
	/**/
}
/* 汎用
---------------------------------------------*/
.mb01p {
	margin-bottom: 0.1em !important;
}
.mb02p {
	margin-bottom: 0.2em !important;
}
.mb03p {
	margin-bottom: 0.3em !important;
}
.mb04p {
	margin-bottom: 0.4em !important;
}
.mb05p {
	margin-bottom: 0.5em !important;
}
.mb06p {
	margin-bottom: 0.6em !important;
}
.mb07p {
	margin-bottom: 0.7em !important;
}
.mb08p {
	margin-bottom: 0.8em !important;
}
.mb09p {
	margin-bottom: 0.9em !important;
}
.mb10p {
	margin-bottom: 1.0em !important;
}
.mb11p {
	margin-bottom: 1.1em !important;
}
.mb12p {
	margin-bottom: 1.2em !important;
}
.mb13p {
	margin-bottom: 1.3em !important;
}
.mb14p {
	margin-bottom: 1.4em !important;
}
.mb15p {
	margin-bottom: 1.5em !important;
}
.mb16p {
	margin-bottom: 1.6em !important;
}
.mb17p {
	margin-bottom: 1.7em !important;
}
.mb18p {
	margin-bottom: 1.8em !important;
}
.mb19p {
	margin-bottom: 1.9em !important;
}
.mb20p {
	margin-bottom: 2.0em !important;
}
.mt01p {
	margin-top: 0.1em !important;
}
.mt02p {
	margin-top: 0.2em !important;
}
.mt03p {
	margin-top: 0.3em !important;
}
.mt04p {
	margin-top: 0.4em !important;
}
.mt05p {
	margin-top: 0.5em !important;
}
.mt06p {
	margin-top: 0.6em !important;
}
.mt07p {
	margin-top: 0.7em !important;
}
.mt08p {
	margin-top: 0.8em !important;
}
.mt09p {
	margin-top: 0.9em !important;
}
.mt10p {
	margin-top: 1.0em !important;
}
.mt11p {
	margin-top: 1.1em !important;
}
.mt12p {
	margin-top: 1.2em !important;
}
.mt13p {
	margin-top: 1.3em !important;
}
.mt14p {
	margin-top: 1.4em !important;
}
.mt15p {
	margin-top: 1.5em !important;
}
.mt16p {
	margin-top: 1.6em !important;
}
.mt17p {
	margin-top: 1.7em !important;
}
.mt18p {
	margin-top: 1.8em !important;
}
.mt19p {
	margin-top: 1.9em !important;
}
.mt20p {
	margin-top: 2.0em !important;
}

/* sp */
@media screen and (min-width: 481px) {
.mt5 {
	margin-top: 5px !important;
}
.mt8 {
	margin-top: 8px !important;
}
.mt10 {
	margin-top: 10px !important;
}
.mt15 {
	margin-top: 15px !important;
}
.mt20 {
	margin-top: 20px !important;
}
.mt25 {
	margin-top: 25px !important;
}
.mt30 {
	margin-top: 30px !important;
}
.mt40 {
	margin-top: 40px !important;
}
.mt50 {
	margin-top: 50px !important;
}
.mb00 {
	margin-bottom: 0px !important;
}
.mb5 {
	margin-bottom: 5px !important;
}
.mb10 {
	margin-bottom: 10px !important;
}
.mb15 {
	margin-bottom: 15px !important;
}
.mb20 {
	margin-bottom: 20px !important;
}
.mb25 {
	margin-bottom: 25px !important;
}
.mb30 {
	margin-bottom: 30px !important;
}
.mb35 {
	margin-bottom: 35px !important;
}
.mb40 {
	margin-bottom: 40px !important;
}
.mb45 {
	margin-bottom: 45px !important;
}
.mb50 {
	margin-bottom: 50px !important;
}
.mb75 {
	margin-bottom: 75px !important;
}
.mb100 {
	margin-bottom: 100px !important;
}
}

/* sp === 640px で作るため、半分にしておく */
@media screen and (max-width: 480px) {
.mt5 {
	margin-top: 2.5px !important;
}
.mt8 {
	margin-top: 4px !important;
}
.mt10 {
	margin-top: 5px !important;
}
.mt15 {
	margin-top: 7.5px !important;
}
.mt20 {
	margin-top: 10px !important;
}
.mt25 {
	margin-top: 12.5px !important;
}
.mt30 {
	margin-top: 15px !important;
}
.mt40 {
	margin-top: 20px !important;
}
.mt50 {
	margin-top: 25px !important;
}
.mb00 {
	margin-bottom: 0px !important;
}
.mb5 {
	margin-bottom: 2.5px !important;
}
.mb10 {
	margin-bottom: 5px !important;
}
.mb15 {
	margin-bottom: 7.5px !important;
}
.mb20 {
	margin-bottom: 10px !important;
}
.mb25 {
	margin-bottom: 12.5px !important;
}
.mb30 {
	margin-bottom: 15px !important;
}
.mb35 {
	margin-bottom: 17.5px !important;
}
.mb40 {
	margin-bottom: 20px !important;
}
.mb45 {
	margin-bottom: 22.5px !important;
}
.mb50 {
	margin-bottom: 25px !important;
}
.mb75 {
	margin-bottom: 37.5px !important;
}
.mb100 {
	margin-bottom: 50px !important;
}
}

/* sp */
@media screen and (min-width: 481px) {
.mr10 {
	margin-right: 10px !important;
}
.mr20 {
	margin-right: 20px !important;
}
.mr30 {
	margin-right: 30px !important;
}
.mr40 {
	margin-right: 40px !important;
}
.mr50 {
	margin-right: 50px !important;
}
.ml10 {
	margin-left: 10px !important;
}
.ml20 {
	margin-left: 20px !important;
}
.ml30 {
	margin-left: 30px !important;
}
.ml40 {
	margin-left: 40px !important;
}
.ml50 {
	margin-left: 50px !important;
}
.mlr10 {
	margin-left: 10px !important;
	margin-right: 10px !important;
}
.mlr20 {
	margin-left: 20px !important;
	margin-right: 20px !important;
}
.mlr30 {
	margin-left: 30px !important;
	margin-right: 30px !important;
}
.mlr40 {
	margin-left: 40px !important;
	margin-right: 40px !important;
}
.mlr50 {
	margin-left: 50px !important;
	margin-right: 50px !important;
}
}

/* sp === 640px で作るため、半分にしておく */
@media screen and (max-width: 480px) {
.mr10 {
	margin-right: 5px !important;
}
.mr20 {
	margin-right: 10px !important;
}
.mr30 {
	margin-right: 15px !important;
}
.mr40 {
	margin-right: 20px !important;
}
.mr50 {
	margin-right: 25px !important;
}
.ml10 {
	margin-left: 5px !important;
}
.ml20 {
	margin-left: 10px !important;
}
.ml30 {
	margin-left: 15px !important;
}
.ml40 {
	margin-left: 20px !important;
}
.ml50 {
	margin-left: 25px !important;
}
.mlr10 {
	margin-left: 5px !important;
	margin-right: 5px !important;
}
.mlr20 {
	margin-left: 10px !important;
	margin-right: 10px !important;
}
.mlr30 {
	margin-left: 15px !important;
	margin-right: 15px !important;
}
.mlr40 {
	margin-left: 20px !important;
	margin-right: 20px !important;
}
.mlr50 {
	margin-left: 25px !important;
	margin-right: 25px !important;
}
}
.pt10 {
	padding-top: 10px !important;
}
.pt20 {
	padding-top: 20px !important;
}
.pt30 {
	padding-top: 30px !important;
}
.pt35 {
	padding-top: 35px !important;
}
.pt40 {
	padding-top: 40px !important;
}
.pt50 {
	padding-top: 50px !important;
}
.pb10 {
	padding-bottom: 10px !important;
}
.pb20 {
	padding-bottom: 20px !important;
}
.pb30 {
	padding-bottom: 30px !important;
}
.pb40 {
	padding-bottom: 40px !important;
}
.pb50 {
	padding-bottom: 50px !important;
}
.pr10 {
	padding-right: 10px !important;
}
.pr20 {
	padding-right: 20px !important;
}
.pr30 {
	padding-right: 30px !important;
}
.pr40 {
	padding-right: 40px !important;
}
.pr50 {
	padding-right: 50px !important;
}
.pl10 {
	padding-left: 10px !important;
}
.pl20 {
	padding-left: 20px !important;
}
.pl30 {
	padding-left: 30px !important;
}
.pl40 {
	padding-left: 40px !important;
}
.pl50 {
	padding-left: 50px !important;
}
.fleft {
	float: left !important;
}
.fright {
	float: right !important;
}
/* WP STYLE
---------------------------------------------*/
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignright {
	/*	padding: 4px; */
	margin: 0 0 0.1em 0.5em;
	display: inline;
	max-width: 50%;
}
img.alignleft {
	/*	padding: 4px; */
	margin: 0 0.5em 0.1em 0;
	display: inline;
	max-width: 50%;
}
.alignright {
	float: right;
}
.alignleft {
	float: left;
}
/* pc swithcer
---------------------------------------------*/
.pc-switcher a, .pc-switcher span {
	display: inline-block;
}
/* arrow2top
---------------------------------------------*/
.arrow2top {
	position: fixed;
	left: 2%;
	bottom: 80px;
	z-index: 1;
	padding: 0 0 1.5em;
}
.arrow2top a {
	display: block;
	width: 80px;
	height: 80px;
	overflow: hidden;
	text-align: center;
	text-decoration: none !important;
	border-radius: 40px;
	font-size: 12px;
	font-weight: normal;
	color: #fff;
	line-height: 80px;
	background: rgba(0, 0, 0, 0.6);
}
/*  MENU : メニューページ
--------------------------------------------------------*/
.side_menu {
	text-align: left;
	border-top: solid .24em #00A234;
}
.side_menu h2 {
	background: url(images/h2_bg.png) 0 0 repeat-x;
	background-size: contain;
	font-size: 113.3%;
	color: #FFF;
	margin: 0 0 .8em;
	padding: .5em .5em .3em;
}
.side_menu h2:before, .side_menu h2:after {
	display: none;
}
.side_menu ul {
	margin: 3px 0 1em;
}
.side_menu ul.menu > li > a {
	display: block;
	padding: 1em 2em 1em .3em;
	border-bottom: 1px dashed #333;
	font-weight: bold;
	text-decoration: none;
	color: #444;
	font-size: 113.3%;
}
.side_menu ul.menu > li ul {
	padding: 0 0 0 1.15em;
	margin: 0;
}
.side_menu ul.menu > li > ul {
	padding-bottom: .1em;
	border-bottom: 1px dashed #333;
}
.side_menu ul.menu > li > ul > li a {
	display: block;
	padding: .8em 2em .8em 0;
	font-weight: bold;
	text-decoration: none;
	color: #444;
	position: relative;
}
/* bottom menu
---------------------------------------------*/
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	z-index: 98;
	background: rgba(50, 50, 50, 0.5);
}
.footer_fixed {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 500;
	width: auto;
	background: #FFDFBF;
}
.header_fixed {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 500;
	width: auto;
}
.fixed_nav {
/*	background:		#fff; */
}
.fixed_nav > .inner {
	/*  max-width: 640px;*/
	margin: 0 auto;
	padding: 0;
	position: relative;
}
.fixed_nav > .inner > ul > li {
}
.fixed_nav > .inner > ul > li a {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
}
.fixed_nav > .inner > ul > li:nth-child(1) a {
	left: 19%;
	right: 41%;
}
.fixed_nav > .inner > ul > li:nth-child(2) a {
	left: 59%;
	right: 0;
}
.fixed_nav .time {
	position: absolute;
	top: 61%;
	left: 80%;
	right: 1.5%;
	color: #fff;
	font-weight: bold;
	font-size: 40%;
	line-height: 1;
	text-align: center;
}
.fixed_sub_menu {
	width: 100%;
	margin: 0 auto;
}
.fixed_sub_menu .inner {
	/*float: left;*/
	position: relative;
	width: 100%;
}
.fixed_sub_menu .inner ul {
	position: absolute;
	left: 0;
	right: 0;
	width: auto;
	background: #fff;
	bottom: 0;
	z-index: 1;
}
.fixed_sub_menu ul li {
	border-bottom: 1px solid #009D3D;
}
.fixed_sub_menu ul li:last-child {
	border-bottom: none !important;
}
.fixed_sub_menu ul li a {
	display: block;
	font-size: 90%;
	line-height: 1.3em;
	padding: .7em 2.8em .7em 1.5em;
	background: #fff url(images/fixed_nav_icon02.png) right center no-repeat;
	background-size: 1.8em auto;
	color: #433d3d;
	text-decoration: none !important;
}
.fixed_sub_menu ul li:first-child a {
	background: #009D3D url(images/fixed_nav_icon01.png) right center no-repeat !important;
	background-size: 1.8em auto !important;
	font-weight: bold;
	color: #fff;
}
input[type="text"], input[type="email"], input[type="tel"] {
	width: 98%;
}
textarea {
	width: 98%;
}
/* 文字サイズ可変 */
body .txt_bnr {
	font-size: 30px;
}

@media screen and (max-width: 700px) {
body .txt_bnr {
	font-size: 29px;
}
}

@media screen and (max-width: 675px) {
body .txt_bnr {
	font-size: 28px;
}
}

@media screen and (max-width: 650px) {
body .txt_bnr {
	font-size: 27px;
}
}

@media screen and (max-width: 625px) {
body .txt_bnr {
	font-size: 26px;
}
}

@media screen and (max-width: 600px) {
body .txt_bnr {
	font-size: 25px;
}
}

@media screen and (max-width: 575px) {
body .txt_bnr {
	font-size: 24px;
}
}

@media screen and (max-width: 550px) {
body .txt_bnr {
	font-size: 23px;
}
}

@media screen and (max-width: 525px) {
body .txt_bnr {
	font-size: 21.5px;
}
}

@media screen and (max-width: 500px) {
body .txt_bnr {
	font-size: 20px;
}
}

@media screen and (max-width: 475px) {
body .txt_bnr {
	font-size: 19px;
}
}

@media screen and (max-width: 450px) {
body .txt_bnr {
	font-size: 18px;
}
}

@media screen and (max-width: 425px) {
body .txt_bnr {
	font-size: 17px;
}
}

@media screen and (max-width: 400px) {
body .txt_bnr {
	font-size: 16px;
}
}

@media screen and (max-width: 375px) {
body .txt_bnr {
	font-size: 15px;
}
}

@media screen and (max-width: 350px) {
body .txt_bnr {
	font-size: 14px;
}
}

@media screen and (max-width: 325px) {
body .txt_bnr {
	font-size: 13px;
}
}

@media screen and (max-width: 300px) {
body .txt_bnr {
	font-size: 12px;
}
}
body .txt_bnr .area {
	font-size: 95%;
	line-height: 1.3em;
	text-align: center;
}
body .txt_bnr .text {
	font-size: 92%;
	line-height: 1.3em;
	text-align: center;
}
/*　table　*/
table.mainstyle {
	margin: .4em 0 1em;
}
/*　リスト　*/
ol.ol {
	display: block;
	list-style-type: decimal;
	padding-left: 1.5em;
	margin: 0 0 1em;
}
ol.ol li {
	margin-top: 0.3em;
	list-style-type: decimal;
}
ol.ol li:first-child {
	margin-top: 0px;
}
ol ol.ol {
	list-style-type: upper-roman;
}
ol ol.ol li {
	list-style-type: upper-roman;
}
ul.ul {
	display: block;
	list-style-type: disc;
	padding-left: 1.5em;
	margin: 0 0 1em;
}
ul.ul li {
	margin-top: 0.3em;
	list-style-type: disc;
}
ul.ul li:first-child {
	margin-top: 0px;
}
/* スマホでtableがはみ出す */
table.mainstyle {
	width: 100% !important;/*	table-layout: fixed;*/
}
/* スマホでフォームがはみ出す */
.wpcf7 input, .wpcf7 button, .wpcf7 textarea, .wpcf7 select {
	max-width: 100% !important;
}
/* ページ内リンク */
.pagelinks {
	padding-top: 4em;
	margin-top: -4em;
}
h1.h1img, h2.h2img, h3.h3img, h4.h4img, h5.h5img, h6.h6img {
	border: none;
	padding: 0px;
	margin: 0;
	color: #000;
	background-color: transparent !important;
	background: none;
 filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	box-shadow: none;
}
h1.h1img:before, h2.h2img:before, h3.h3img:before, h4.h4img:before, h5.h5img:before, h6.h6img:before {
	display: none;
}
h1.h1img:after, h2.h2img:after, h3.h3img:after, h4.h4img:after, h5.h5img:after, h6.h6img:after {
	display: none;
}
iframe {
	max-width: 100% !important;
	vertical-align: bottom;
}
